<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>

>

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>Admin Page</title>
    <link rel="stylesheet" href="/css/error.css">
</head>
<body>
<h4>Admin Page</h4>
<div>
    <form action="#" th:action="@{/addProduct}" th:object="${product}" th:method="POST" method="post">
        <input type="text" placeholder="name" name="name" th:value="${name}" maxlength="45" required><br>
        <input type="text" placeholder="description" name="description" th:value="${description}" maxlength="225" required><br>
        <input type="text" placeholder="price" name="price" th:value="${price}" maxlength="225" required><br>
        <input type="text" placeholder="discount" name="discount" th:value="${discount}" maxlength="225" required><br>
        <input type="text" placeholder="stock" name="stock" th:value="${stock}" maxlength="225" required><br>
        <input type="text" placeholder="subCategoryId" name="subCategoryId" th:value="${subCategoryId}" maxlength="225" required><br>
        <input type="submit" value="Add Product"> <br>
    </form>
    <span class="error" th:if="${add} != null" th:text="*{add}"></span>
    <form action="#" th:action="@{/removeProduct}" th:method="POST" method="post">
        <input type="text" id="idProduct" placeholder="idProduct" name="idProduct" maxlength="45" required><br>
        <input type="submit" value="Remove Product"> <br>
    </form>
    <span class="error" th:if="${remove} != null" th:text="*{remove}"></span>
    <form action="#" th:action="@{/setDiscount}" th:method="POST" method="post">
        <input type="text" id="Productid" placeholder="Productid" name="Productid" maxlength="45" required><br>
        <input type="text" id="discount" placeholder="discount" name="discount" maxlength="225" required><br>
        <input type="submit" value="Change product discount"> <br>
    </form>
    <span class="error" th:if="${discount} != null" th:text="*{discount}"></span>
    <form action="#" th:action="@{/updateQuantity}" th:method="POST" method="post">
        <input type="text" id="id" placeholder="id" name="id" maxlength="45" required><br>
        <input type="text" id="newQuantity" placeholder="newQuantity" name="newQuantity" maxlength="225" required><br>
        <input type="submit" value="Change product quantity"> <br>
    </form>
    <span class="error" th:if="${quantity} != null" th:text="*{quantity}"></span>
</div>
</body>
</html>