<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>Login Page</title>
    <link rel="stylesheet" href="/css/error.css">
</head>
<body>
<div class="body"></div>
<div class="grad"></div>
<div class="header"></div>
<br>
<div class="login">
    <!--/*@thymesVar id="user" type="com.example.emag.entity.User"*/-->
    <form action="#" th:action="@{/login}" th:method="POST" method="post">
        <input type="email" id="email" placeholder="email" name="email" maxlength="45" required><br>
        <input type="password" id="password" placeholder="password" name="password" maxlength="225" required><br>
        <input type="submit" value="Log In"> <br>
    </form>
    <a href="register"><input type="button" value="Sign Up"></a>
    <br>
    <span class="error" th:if="${error} != null" th:text="*{error}"></span>
</div>
</body>
</html>